 <section class="container">
            <section class="text-principal">
                  <section class="">
                    <h1> SO, YO WANT TO TRAVEL TO</h1>
                    <p class="space">SPACE</p>
                      <p class="inicio">   
                          Let’s face it; if you want to go to space, you might as well genuinely go to 
                          outer space and not hover kind of on the edge of it. Well sit back, and relax 
                          because we’ll give you a truly out of this world experience!</p>
                      
                  </section>       
            </section>
              <section class="circulo">
                <p class="circle1">EXPLORE</p>
              </section>
 </section>  

      

