*{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 25px;
    color: white;
    text-align: center;
}
.inicio{
    margin: 1rem;
    padding: 1px;
    text-align:justify;
    color: white;
    font-size: 16px;
}
.space{
    color: white;
    text-align: start;
    align-items: center;
    justify-content: center;
    margin: 0rem;
}
.inicio2{
    color: white;
    font-size: 30px;
    text-align: center;

}
.text{
    color: white;
    font-size: 20px;
}
.circle1{
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.circulo{
    display: flex;
    justify-content: center;
    align-items: end;
    align-self: end;
}
.space{
    color: white;
    font-size: 95px;
    align-self: center;
    display: flex;
}
.text-principal{
    display: flex;
    width: 30%;
    margin: 2rem;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem;
}
